<div class="card text-center" style="width: 6rem;">
    <% if @selected_item == 0 %>
        <a href="#" class="card-header pl-4 pt-1 pb-1 bg-warning" data-toggle="tooltip" data-placement="right" title="test">
    <% else %>
        <a href="#" class="card-body pl-4 pt-1 pb-1 bg-light border-bottom" data-toggle="tooltip" data-placement="right" title="test"> 
    <% end %>
        <%= image_tag("common/jdf_logo.png", alt:"sidetab icon", size: "40x45", id: "sidetab_icon") %>
    </a>
    <% if @selected_item == 1 %>
        <a href="#" class="card-header pl-4 pt-1 pb-1 bg-warning" data-toggle="tooltip" data-placement="right" title="test">
    <% else %>
        <a href="#" class="card-body pl-4 pt-1 pb-1 bg-light border-bottom" data-toggle="tooltip" data-placement="right" title="test"> 
    <% end %>
        <%= image_tag("common/jdf_logo.png", alt:"sidetab icon", size: "40x45", id: "sidetab_icon") %>
    </a>
</div>